video {
  display: block;
  margin: 40px auto;
}
html {
    background-color: red;
}

body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: blue;
}

img {
    width: auto;
    border-radius: 0;
    display: block;
    margin: 20px auto;
}

button {
    background-color: salmon;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}


iframe {
  display: block;
  margin: 60px auto;
}
.contenedor {
  display: flex;
}

.izquierda {
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
}

.centro {
  width: 60%;
  padding: 10px;
}

.derecha {
  width: 35%;
  background-color: #f0f0f0;
  padding: 10px;
}
nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

nav a {
    font-size: 22px;   /* cambia tamaño aquí */
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
    transform: scale(1.1);
}
.contador {
    margin-top: 40px;
    font-size: 18px;
    color: white;
}
productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.producto {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  color: black;
}

.producto p {
  color: green;
  font-weight: bold;
}
button:hover {
  background-color: darkred;
  transform: scale(1.1);
  cursor: pointer;
}


.productos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.producto {
  width: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
#titulo {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  text-align: center;

background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 4px;
}
}
.derecha p {
  word-break: break-word;
}
.luna {
  width: 120px;
  border-radius: 50%; /* la hace redonda */
  display: block;
  margin: 10px auto; /* la centra */
}
.luna {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 15px white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("Sri-Ganesha.webp");
  background-size: contain;

  background-position: center 60%; /* 👈 BAJA la imagen */

  background-repeat: no-repeat;

  filter: blur(4px);   /* 👈 MENOS difuminado */
  opacity: 0.5;        /* 👈 MÁS visible */

  z-index: -1;
}